/* Universal styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: #fff;
}


/* Parts: Header */

header {
    position: fixed;
    top: 0;
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 2%;
    z-index: 99;
    mix-blend-mode: difference;
    color: #fff;
    background-color: transparent;

    /* Left container: txt logo */
    .header-left {
        width: 30%;
        
        /* Txt-logo styles */
        .header-logo {
            cursor: pointer;
        }
    }
    
    /* Mid container: logo */
    .header-mid {
        width: 40%;
        height: 2.5vh;
        display: flex;
        justify-content: center;
    }

    /* Right container: menu */
    .header-right {
        width: 30%;
        display: flex;
        justify-content: end;
    }
}


/* Section 1: Hero */

.hero {
    height: 100vh;
}

#hero-video {
    position: absolute;
    top: 0;
    max-height: 100vh;
}

.hero-logo {
    position: absolute;
    right: 3%;
    top: 12%;
    font-weight: 600;
    font-size: 8rem;
    text-align: right;
    color: #fff;
    z-index: 20;
}

.hero-txt {
    position: absolute;
    left: 3%;
    bottom: 8%;
    font-weight: 500;
    font-size: 1.9rem;
    color: #fff;

}

/* Section 2: Approach */

.our-approach {
    height: 200vh;
    background-color: #fff;
}