/* Universal styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: #fff;
}


/* Parts: Header */

header {
    position: fixed;
    top: 0;
    height: 5.5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
    z-index: 99;
    mix-blend-mode: difference;
    color: #fff;
    background-color: transparent;
}

/* Left container: txt logo */
.header-left {
    width: 30%;
    
    /* Txt-logo styles */
    .header-logo {
        cursor: pointer;
        width: 40%;
    }
}

/* Mid container: logo */
.header-mid {
    width: 40%;
    display: flex;
    justify-content: center;
}

/* Right container: menu */
.header-right {
    width: 30%;
    display: flex;
    justify-content: end;
}


/* Parts: Pre-loader */

<<<<<<< HEAD
.header-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 12px;
}

.menu-line1,
.menu-line2 {
    border-top: 3px solid #fff;
    width: 12%;
=======
.pre-loader {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 999;
>>>>>>> e4cb3eda764a0bf183af70fd2da71d95275c989e
}

/* Blinders: Container */
.blinder-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}

/* Blinder: alle 5 af dem */
.blinder {
    background-color: #000;
    height: 100vh;
    flex: 1;
    transform-origin: top;
}

/* Pre-loader logo */
.preloader-logo {
    position: absolute;
    margin: auto;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 6vw;

}


/* Section 1: Hero */

#hero {
    height: 100vh;
}

#hero-video {
    position: absolute;
    top: 0;
}

.hero-logo {
    position: absolute;
    right: 2%;
    top: 10%;
    font-weight: 600;
    font-size: 7.5rem;
    line-height: 1;
    text-align: right;
    color: #fff;
    z-index: 20;
    overflow-y: hidden;
}

.hero-txt {
    position: absolute;
    left: 3%;
    bottom: 8%;
    font-weight: 500;
    font-size: 1.95rem;
    color: #fff;

}


/* Section 2: Approach */

#our-approach {
    height: 200vh;
    background-color: #fff;
}


/* Section 3: Services */

#our-services {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
}

.headline-container {
    height: 10vh;
}

h2 {
    color: black;
    font-size: 2rem;
}